.personagem__details-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.personagem__details {
    display: flex;
    flex-direction: row;
}

.personagem__title {
    color: #3359ec;
}

.personagem__avatar {
    width: 150px;
    border-radius: 0.5rem;
}

.personagem__description {
    margin: 0.5rem;
    width: 100%;
}
