.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    background-color: #fff;
    border-bottom: 0.25rem solid #3359ec;
    border-radius: 0.5rem;
    border-top: 0.25rem solid #3359ec;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 0.5rem;
    min-width: 16rem;
}

.card__title {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
    border-left: 0.25rem solid #3359ec;
    padding-left: 0.5rem;
}
